body {
  margin: 0;
}

h2 {
  text-align: center;
  position: relative;
  top: 5vh;
}

.box {
  margin-inline-start: 24vw;
  margin-block-start: 20vh;
  background-color: #1cac78;
  height: 50vh;
  width: 50vw;
}

.startBtn {
  height: 8vh;
  width: 10vw;
  font-weight: 600;
  background-color: white;
  position: relative;
  top: 30vh;
  margin-right: 5vw;
  border-radius: 50%;
}

.startBtn:focus {
  background-color: yellow;
}

.stopBtn {
  height: 8vh;
  width: 10vw;
  font-weight: 600;
  background-color: white;
  position: relative;
  top: 30vh;

  border-radius: 50%;
}

.stopBtn:focus {
  background-color: yellow;
}

.resetBtn {
  height: 8vh;
  width: 10vw;
  font-weight: 600;
  background-color: white;
  position: relative;
  top: 30vh;
  margin-left: 5vw;
  border-radius: 50%;
}

.resetBtn:focus {
  background-color: yellow;
}

.deleteAll {
  height: 8vh;
  font-weight: 600;
  background-color: rgb(143, 174, 156);
  position: relative;
  top: 15vh;
  left: 10vw;

  border-radius: 50%;
}
